{% if is_user_authenticated == False %}
	<h1>invalid user credentials</h1>
	<p>Check if username and password is correct</p>
{% else %}
	<h1>User password successfully updated!</h1>
	<p>The password has been successfully updated</p>
{% endif %}